@media screen and (max-width: 991px){
    div.col-md.imgs .img2 {
        margin: 44% 0 0 0;
        width: 92%;
    }

    div.col-md.invertido .img2 {
        margin: 44% 0 0 0;
        width: 92%;
    }
}

@media screen and (max-width: 767px){
    .trabalhos div.col-md.imgs .img2 {
        margin: 20% 0;
    }

    .trabalhos div.col-md.invertido .img2{
        margin: 20% 0 20% 10%;
    }

    nav.navbar{
        flex-direction: row-reverse;
    }

    nav.navbar .navbar-nav a{
        text-align: end;
    }
    div a.logo {
        height: 56px !important;
        width: 200%;
    }

    div.texto {
        text-align: center;
    }

    .sobre div.texto {
        text-align: justify;
    }

    div.empresas img{
        height: 35px;
    }

    div.sobre img {
        width: 70%;
    }
/*  
    .sobre {
        text-align: center;
    }

    .container.trabalhos {
        text-align: center;
    }

    .container.trabalhos .imgs{
        text-align: left;
    }

    nav.navbar{
        padding-left: 80px;
    }

    .trabalhos .col-md.imgs img {
        margin: 0;
    }

    div.empresas {
        flex-direction: column;
    }

    div.empresas img{
        height: 70px;
        margin:3% auto;
    }

    .container.trabalhos, footer p {
        text-align: center;
    } */
}

.line {
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #F5F5F5;
}

img{
    max-width: 100%;
}

.trabalhos .row .col-md p,.vamos-trabalhar p, .sobre p{
    color:#A5A5A5;
}

.trabalhos button:hover,.vamos-trabalhar button:hover{
    background: #91BEB8;
    color: white;
    border-width: 1px;
    border-color: #C4C4C4;
}

.trabalhos .col-md h3,.trabalhos .col-md h1,.trabalhos .col-md p, .sobre h5, .sobre p{
    font-family: 'Roboto';
}

.trabalhos h1 , .sobre h1, .sobre h2{
    font-family: 'Playfair Display';
    font-weight: bold;
}

/* ############################################################################ */
.linguagens{
    background: #91BEB8;
    padding: 5%;
    color: white;
}

.linguagens h5{
    font-family: 'Roboto';
    text-transform: uppercase;
}

.linguagens h1{
    font-family: 'Playfair Display';
    font-weight: bold;
}

.linguagens p{
    font-family: 'Roboto';
}

.empresas {
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.empresas img{
    height: 70px;
    margin:0 3%;
}

/* ############################################################################ */
.sobre h2 span{
    font-family: 'Crimson Text' !important;
    font-weight: normal;
    font-style: italic;
}

.sobre h2:hover{
    background: linear-gradient(0deg, #DCEAEB 50%, #FFFFFF 50%);
}

.sobre h5{
    margin: 5% 0;
}

.sobre img{
    width: 100%;
}

.sobre {
    text-align: justify;
    padding-bottom: 3%;
}

.sobre .perfil {
    text-align: center;
    margin: auto;
}

.texto{
    margin:auto;
}

.sobre .row{
    min-height: 650px;
}

/* ############################################################################ */
.trabalhos h5{
    color: #91BEB8;
    font-family: 'Roboto';
}

.trabalhos h3:hover{
    background: linear-gradient(0deg, #DCEAEB 50%, #FFFFFF 50%);
}

.trabalhos div h1{
    color: #CECECE;
}

.trabalhos div h1:hover{
    color: #91BEB8;
}

.trabalhos button{
    background: white;
    border: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    height: 50px;
    width: 150px;
    font-family: 'Roboto';
}

.trabalhos .col-md.invertido{
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    background-origin: content-box;
}

.trabalhos .col-md.imgs{
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-origin: content-box;
}

.col-md.imgs .img2 {
    margin: 16% 0 16% 1%;
    width: 72%;
}

.col-md.invertido .img2 {
    margin: 16% 0 16% 28%;
    width: 72%;
}

.trabalhos{
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
}

.trabalhos .row{
    margin-top: 10%;
    margin-bottom: 10%;
}

/* ############################################################################ */
.vamos-trabalhar button {
    background: white;
    border: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    height: 60px;
    width: 220px;
    font-family: 'Roboto';
}

.vamos-trabalhar{
    margin-top:5%;
    margin-bottom: 5%;
}
.vamos-trabalhar .contatos{
    /* align-items: center; */
    justify-content: center;
}

.vamos-trabalhar .contatos img{
        height: 70px;
        margin:0 3%;
}

.vamos-trabalhar h5{
    font-family: 'Roboto';
    text-transform: uppercase;
    color:#91BEB8;
}

.vamos-trabalhar h1{
    font-family: 'Playfair Display';
    font-weight: bold;
}

.vamos-trabalhar p{
    font-family: 'Roboto';
}

/* ############################################################################ */
a.logo{
    background-color: #2C2C2C;
    color: white !important;
    font-size: 150%;
    width: 100%;
    height: 100%;
    position: absolute !important;
    text-align: center;
    font-family: 'Playfair Display';
    
}

header.container-fluid {
    padding-left: 0px;
}

header nav.navbar a{
    font-family: 'Roboto';
    font-weight: bold;
    color: black !important;
    text-transform: uppercase;
}

header nav.navbar a:hover {
    background: linear-gradient(90deg, #91BEB8 50%, #FFFFFF 50%);
}

/* ############################################################################ */
footer{
    border-top: 2px solid #F5F5F5;
    height: 50px;
}

footer p{
    padding-top: 9px;
}